@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300&family=Mulish:wght@500&family=Poppins:wght@200&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

.list-container {
  display: flex;
  list-style: none;
}

.list-item {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.date {
  text-align: end;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  padding: 10px;
  transform: scale(0.1);
  transition: all 0.5s;
}

.book-list.active {
  position: static;
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.list {
  border-right: 1px solid black;
  padding-right: 5px;
}

.new {
  border-right: 1px solid black;
  padding-right: 5px;
}

.book-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  transform: scale(0.1);
  transition: all 0.5s;
}

.book-form.active {
  position: static;
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.center {
  margin: 5px;
  width: 50%;
}

.book-container {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 2px solid black;
}

p {
  font-family: mulish, sans-serif;
}

.li {
  padding: 2px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}

.li:nth-child(odd) {
  background-color: gray;
}

h2 {
  text-align: center;
  margin: 10px;
  font-family: inter, sans-serif;
}

form {
  margin-top: 20px;
  width: 60%;
}

input {
  width: 100%;
  margin-bottom: 10px;
  height: 20px;
}

.btn {
  float: right;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}

.contact.active {
  position: static;
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.contact-list {
  margin: 20px;
}

footer {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  color: white;
  bottom: 0;
  width: 100%;
}
